:root {
  --clr-narvik:#EAE7DD;
  --clr-Sorrellbrown: #99775C;
  --clr-classicblue: #0A1828;
  --clr-turquoise: #178582;
  --clr-gold: #BFA181;
  --clr-grey: #6c808e;    
}

.changePassword {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--clr-grey);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .changePassword h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: var(--clr-classicblue);

  }
  
  .formGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--clr-gold);
    background-color: var(--clr-grey);
    border-radius: 5px;
    font-size: 16px;
  }
  .formGroup input:focus{
    outline: none;
    border-color: var(--clr-grey);
    box-shadow: 0 0 5px var(--clr-classicblue);
  }
  
  .submit-btn button {
    text-align: center;
    width:200px;
    margin: 5px;
    border-radius: 8px;
    background-color: var(--clr-classicblue);
    color: var(--clr-gold);
  }
  
 .submit-btn button:hover {
    background-color: var(--clr-Sorrellbrown);
    color: var(--clr-classicblue);
    box-shadow: 0 10px 50px var(--clr-gold);
    transition: all 0.3s linear;
    border: 1px solid var(--clr-Sorrellbrown);

  }
  