body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #051622 url(https://slumber.fm/assets/img/bg_star.png);
    /* repeat: no-repeat; */
}
:root {
    --clr-narvik:#EAE7DD;
    --clr-Sorrellbrown: #99775C;
    --clr-classicblue: #0A1828;
    --clr-turquoise: #178582;
    --clr-gold: #BFA181;
    --clr-blue: #012033; 
    --clr-trygrey:#869ba9;
    
}

header {
    background-color: var(--clr-blue)  !important;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid var(--clr-gold);
    border-bottom: 2px solid var(--clr-gold);
    

}
header h1{
    color: var(--clr-trygrey);
    
}

.header-image {
    width: 100%; /* Make the image fill the width of its container */
    max-height: 200px; /* Set a maximum height to fit within the card */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main-blog {
    flex: 1;
    width: 60%;
    padding: 20px;
    background-color: var(--clr-blue);
    margin-right: 20px;
}

.sidebar {
    flex: 1;
    width: calc(40% - 20px); /* 40% of container width minus margin */
    padding: 20px;
    background-color: var(--clr-blue) !important;
}

.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    /* box-shadow: 0 10px 50px var(--clr-trygrey); */

}
.blog-post h2{
    color: var(--clr-turquoise);
}
.blog-post p{
    color: var(--clr-trygrey);
}
.blog-post h3{
    color: var(--clr-turquoise);
}

.blog-post:last-child {
    border-bottom: none; /* Remove border bottom for the last post */
    margin-bottom: 0;
    padding-bottom: 0;

}