body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main-blog {
    flex: 1;
    width: 60%;
    padding: 20px;
    background-color: #f0f0f0;
    margin-right: 20px;
}

.sidebar {
    flex: 1;
    width: calc(40% - 20px); /* 40% of container width minus margin */
    padding: 20px;
    background-color: #f9f9f9;
}

.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.blog-post:last-child {
    border-bottom: none; /* Remove border bottom for the last post */
    margin-bottom: 0;
    padding-bottom: 0;
}